vl_burtsev.dump filter=git-crypt diff=git-crypt
passwords.kdbx filter=git-crypt diff=git-crypt
passwords filter=git-crypt diff=git-crypt
bingo.cfg filter=git-crypt diff=git-crypt
bingo.ovpn filter=git-crypt diff=git-crypt
ca.crt filter=git-crypt diff=git-crypt
vl_burtsev.crt filter=git-crypt diff=git-crypt
vl_burtsev.key filter=git-crypt diff=git-crypt
vl_burtsev.pass filter=git-crypt diff=git-crypt
cfg/** filter=git-crypt diff=git-crypt
python/** filter=git-crypt diff=git-crypt
